# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Datasets (training data)
dataset/
data/

# ML models & large binaries
*.h5
*.keras
*.dat
*.dll
*.pyd
*.so

# Logs & runtime files
*.log

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
